@import "tailwindcss";
@custom-variant dark (&: is(.dark *));

@theme {
  --color-blue: #3ca3fc;
  --color-white-700: #ffffffb2;
  --color-secondary-grey: #cccccc;
  --color-light-grey: #dadada;
  --color-yellow: #e4a354;
  --color-green: #88d67b;
  --color-grey-900: #bbbbbb;
  --color-grey-800: #414e5d;
  --color-grey-700: #112235;
  --color-grey-500: #e6e6e6;
  --color-grey: #62768c;
  --color-grey-600: #c3c3c3;
  --color-error: #ff7360;
  --color-font-error: #cb6262;
  --color-darker-blue: #091b2b;
  --color-dark-blue: #100c14;
  --color-border-grey: #444753;
  --color-border-blue: #425c72;
  --color-border-button: #3b455c;
  --color-bg-primary: #0d2335;
  --color-bg-secondary: #141b29;
  --color-button-light-blue: #2677c8;
  --color-border-secondary: #151723;
  --shadow-primary: 0px 4.37px 96.133px -17.479px #13161e;
  --shadow-secondary-tab: 0px 0px 74.76px #ffffff;
  --shadow-primary-button: 0px 0px 200px 0px rgba(60, 163, 252, 0.4);
  --shadow-green: 0px 0px 26.04px rgba(120, 196, 123, 0.6);
  --font-sxl: 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.av-scroll {
  scrollbar-color: #435d73 transparent;
}

@theme {
  --animate-toright: toright 1s linear infinite;
  @keyframes toright {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
}
