/target
/data_submission/target
/data_submission/data
/data_submission/.env
/db/target
/db/cache
/db/config.toml
/db/config.json
/db/.env
/funds_monitor/target
/funds_monitor/config.toml
/funds_monitor/.env
/contracts/out
/contracts/cache
/contracts/broadcast
/contracts/github
/contracts/cache
/contracts/broadcast
/fallback_monitor/.env
/fallback_monitor/config.toml
/fallback_monitor/target
/data
/turbo-da-core/target
/turbo-da-core/data
/turbo-da-core/.env
/dashboard/.env
/dashboard/node_modules
.vscode
.env
