/target
/data_submission/target
/data_submission/data
/data_submission/.env
/db/target
/db/cache
/db/config.toml
/db/config.json
/db/.env
/funds_monitor/target
/funds_monitor/config.toml
/funds_monitor/.env
/*/dump.rdb
/fallback_monitor/.env
/fallback_monitor/config.toml
/fallback_monitor/target
/data
/turbo-da-core/target
/turbo-da-core/data
/turbo-da-core/.env
/dashboard/.env
/dashboard/node_modules
/observability/config/.env
.vscode
.env
Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
target
node_modules
node_modules
