#rpc urls
NEXT_PUBLIC_RPC_URL=wss://turing-rpc.avail.so/ws
NEXT_PUBLIC_BASE_RPC_URL=
NEXT_PUBLIC_ETH_RPC_URL=

#addresses needed for deposit
NEXT_PUBLIC_AVAIL_ADDRESS=5EDAzYNAu561hN837GPZnfAjUh61vEJZFg3Sqyx9HzfHpccY

#base mainnet - 0xd89d90d26b48940fa8f58385fe84625d468e057a
#base sepolia - 0xf50F2B4D58ce2A24b62e480d795A974eD0f77A58
NEXT_PUBLIC_ADDRESS=0x8BB4Cf8E39BFf98d6475948bC4e44871b8D47f98
NEXT_PUBLIC_ETH_NETWORK=testnet

#clerk
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_API_URL=https://turing.turbo-api.availproject.org/core-api

#misc
COINGECKO_API_URL=https://pro-api.coingecko.com/api/v3/simple/price
COINGECKO_API_KEY="KEY"
NEXT_PUBLIC_IMAGES_URL=https://pub-7893aab412a048c4b913deb30473ab8c.r2.dev/avail-turbo-da/
