DATABASE_URL=postgres://user:password@localhost:5432/db
MAXIMUM_PENDING_REQUESTS=100

# All the names start with NETWORK_<NETWORK_NAME>_ for example NETWORK_ETHEREUM_CONTRACT_ADDRESS.
# Ethereum network
NETWORK_ETHEREUM_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000 # This is the smart contract address to make the payment to. .
NETWORK_ETHEREUM_URL=https://mainnet.infura.io/v3/YOUR_PROJECT_ID            # This is the RPC endpoint of the Ethereum network.
NETWORK_ETHEREUM_WS_URL=wss://mainnet.infura.io/ws/v3/YOUR_PROJECT_ID        # This is the WebSocket endpoint of the Ethereum network.
NETWORK_ETHEREUM_CHAIN_ID=1                                                  # This is the chain ID of the Ethereum network.

# Base network
NETWORK_BASE_CONTRACT_ADDRESS=0x1111111111111111111111111111111111111111
NETWORK_BASE_URL=https://rpc.base.org
NETWORK_BASE_WS_URL=wss://ws.base.org
NETWORK_BASE_CHAIN_ID=8453
